<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
	<p><h1>CONDITIONS GÉNÉRALES</h1>

		Les présentes conditions générales régissent l’utilisation de ce site THe BDe.
		Ce site appartient et est géré par Cesi BDE
		En utilisant ce site, vous indiquez que vous avez lu et compris les conditions d’utilisation et que vous acceptez de les respecter en tout temps.

		Type de site : e-commerce
		Propriété intellectuelle

		Tout contenu publié et mis à disposition sur ce site est la propriété de Cesi BDE et de ses créateurs. Cela comprend, mais n’est pas limité aux images, textes, logos, documents, fichiers téléchargeables et tout ce qui contribue à la composition de ce site.
		Comptes

		Lorsque vous créez un compte sur notre site, vous acceptez ce qui suit :
		1.	que vous êtes seul responsable de votre compte et de la sécurité et la confidentialité de votre compte, y compris les mots de passe ou les renseignements de nature délicate joints à ce compte, et
		2.	que tous les renseignements personnels que vous nous fournissez par l’entremise de votre compte sont à jour, exacts et véridiques et que vous mettrez à jour vos renseignements personnels s’ils changent.
		Nous nous réservons le droit de suspendre ou de résilier votre compte si vous utilisez notre site illégalement ou si vous violez les conditions d’utilisation acceptable.
		Ventes des biens et services
		Ce document régit la vente des biens mis à disposition sur notre site.
		Les biens que nous offrons comprennent :
		-	Des produits alimentaires
		-	Des fournitures scolaires
		Page 1 de 4
		-	__________
		Les biens liés à ce document sont les biens qui sont affichés sur notre site au moment où vous y accédez. Cela comprend tous les produits énumérés comme étant en rupture de stock. Toutes les informations, descriptions ou images que nous fournissons sur nos biens sont décrites et présentées avec la plus grande précision possible. Cependant, nous ne sommes pas légalement  tenus par ces informations, descriptions ou images car nous ne pouvons pas garantir l’exactitude de chaque produit ou service que nous fournissons. Vous acceptez d’acheter ces biens à vos propres risques.
		Vendus par des tiers

		Notre site peut offrir des biens de sociétés tierces. Nous ne pouvons pas garantir la qualité ou l’exactitude des biens mis à disposition par des tiers sur notre site.
		Paiements

		Nous acceptons les modes de paiement suivants sur ce site :
		-	Carte bancaire
		-	PayPal
		-	Orange Money
		Lorsque vous nous fournissez vos renseignements de paiement, vous nous confirmez que vous avez autorisé l’utilisation et l’accès à l’instrument de paiement que vous avez choisi d’utiliser. En nous fournissant vos détails de paiement, vous confirmez que vous nous autorisez à facturer le montant dû à cet instrument de paiement.

		Si nous estimons que votre paiement a violé une loi ou l’une de nos conditions d’utilisation, nous nous réservons le droit d’annuler votre transaction.
		Abonnements

		Tous nos abonnements récurrents seront automatiquement facturés et renouvelés jusqu’à ce que nous recevions d’avis que vous souhaitez annuler l’abonnement.
		Transport et livraison

		Lorsque vous effectuez un achat sur notre site, vous acceptez et reconnaissez de fournir un email valide et une adresse d’expédition pour la commande. Nous nous réservons le droit de modifier, rejeter ou annuler votre commande chaque fois que cela devient nécessaire. Si nous annulons votre commande et avons déjà traité votre paiement, nous vous donnerons un remboursement équivalent au montant que vous avez payé. Vous convenez qu’il vous incombe de surveiller votre mode de paiement. Bien que nous visions à vous fournir une estimation précise des délais et des coûts d’expédition, ceux-ci peuvent varier en raison de circonstances imprévues.
		Limitation de responsabilité

		Cesi BDE ou l’un de ses employés sera tenu responsable de tout problème découlant de ce site. Néanmoins, Cesi BDE et ses employés ne seront pas tenus responsables de tout problème découlant de toute utilisation irrégulière de ce site.
		Indemnité

		En tant qu’utilisateur, vous indemnisez par les présentes Cesi BDE de toute responsabilité, de tout coût, de toute cause d’action, de tout dommage ou de toute dépense découlant de votre utilisation de ce site ou de votre violation de l’une des dispositions énoncées dans le présent document.
		Lois applicables

		Ce document est soumis aux lois applicables en France et vise à se conformer à ses règles et règlements nécessaires. Cela inclut la réglementation à l’échelle de l’UE énoncée dans le RGPD.
		Divisibilité

		Si, à tout moment, l’une des dispositions énoncées dans le présent document est jugée incompatible ou invalide en vertu des lois applicables, ces dispositions seront considérées comme nulles et seront retirées du présent document. Toutes les autres dispositions ne seront pas touchées par les lois et le reste du document sera toujours considéré comme valide.
		Modifications

		Ces conditions générales peuvent être modifiées de temps à autre afin de maintenir le respect de la loi et de refléter tout changement à la façon dont nous gérons notre site et la façon dont nous nous attendons à ce que les utilisateurs se comportent sur notre site. Nous recommandons à nos utilisateurs de vérifier ces conditions générales de temps à autre pour s’assurer qu’ils sont informés de toute mise à jour. Au besoin, nous informerons les utilisateurs par courriel des changements apportés à ces conditions ou nous afficherons un avis sur notre site.
		Contact

		Veuillez communiquer avec nous si vous avez des questions ou des préoccupations. Nos coordonnées sont les suivantes :

		69 13 97 54 4

		emmanuel.atouga@2027.ucac-icam.com

		Logpom
		Date d'entrée en vigueur : le 15 mars 2024.
		© 2002-2024, DocumentsLégaux™ (Sequiter Inc.)
	</p>
</body>
</html>