<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/Formulaires.css">
    <title> Delete Goodies</title>
</head>
<body>
    <br>
    <br>
    
    <div class="row">
        <div class="col-1" style="width: 40%; height: 50%;">
            <h2>Delete a Goodie here</h2><br>
            <form action=" nom du fichier de vérification" method="post">
                <div class="mb-3">
                    <label for="p_GoodyID">Goodie ID:</label>
                     <input type="number" id="p_GoodyID" name="p_GoodyID" required>
                </div>    
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <br>
    <br>
    <?php require_once "footer.html"; ?>

    <script src="script.js"></script>
</body>
</html>