<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Home.css">
    <link rel="icon" href="university-_1_.ico" type="image/x-icon">
    <title>Home</title>
</head>
<body>
    <header id="header" class="header">
        <img src="/img/image.png" alt="Nature Emoi" class="logo">
        <ul class="nav-links"> <!-- Unordered list for navigation links -->
            <li>
                <a href="/cesi-bde/accueil" data-text="Home">Home</a>
            </li>
            
            
            <li>
                <a href="/cesi-bde/boutique" data-text="Shop">Shop</a>
            </li>
            
            <li>
                <a href="/cesi-bde/ev/events" data-text="Events">Events</a>
            </li>
            <li>
                <a href="/cesi-bde/so/social" data-text="Social">Social</a>
            </li>
            <li>
                <a href="/cesi-bde/admin" data-text="Adminstration">Adminstration</a>
            </li>
            <script>
                function logout() {
                    fetch('http://localhost:3000/auth/logout', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ value: 1 }),
                        credentials: 'include' // Inclut les cookies dans la requête
                    })
                        .then(response => {
                            if (response.ok) {
                                return response.json();
                            } else {
                                throw new Error('Erreur de la requête');
                            }
                        })
                        .then(data => {
                            if (data === 2) {
                                // Supprime le token
                                localStorage.removeItem('token');
                                window.location.href='/cesi-bde/connexion'
                            } else {
                                console.log('La valeur de la réponse n\'est pas 2');
                            }
                        })
                        .catch(error => {
                            console.error(error);
                        });
                }
            </script>
            
            
        </ul>
        <div class="burger-container"> <!-- Container for burger menu -->
            <div class="burger"></div> <!-- Burger menu icon -->

        </div>
    </header>
    <section class="text">
        <h1><span id="auto-typing" class="auto-typing"></span></h1>
        <p>The Student Union is the beating heart of campus life. It's where ideas are born,<br> friendships are forged, and memories are made.<br> Picture a dynamic space where laughter fills the air and lively discussions echo off the walls.<br> Every noticeboard is a call to action, and every event is a reason to celebrate.<br>
            More than just a physical location, <br>the Student Union is the spiritual center of the student community.</p>
        <a class="cv" onclick="logout()">Log out</a>
    </section>
    <div class="overlay">

    </div>
    <script>
        const burgerContainer = document.querySelector('.burger-container');
        const navLinks = document.querySelector('.nav-links');

        burgerContainer.addEventListener('click', () => {
            burgerContainer.classList.toggle('active');
            navLinks.classList.toggle('active');
        })
    </script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>   
    <script>
            var typed = new Typed('#auto-typing',{
                strings: ['Welcome on THe BDe','About us','Come here my dear'],
                typeSpeed:100,
                backSpeed: 100,
                loop: true, 
                fadeOut: true,
                fadeOutClass:'typed-fade-out',
                fadeOutClassDelay: 500,
                shuffle: true
            })
    </script>
    <footer id="footer" class="footer">
        <span class="copyrights">&copy; 2024 - THe BDe</span>
        <a href="#" class="conditions">Condition générales de vente</a>
    </footer>
</body>
</html>