<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/Formulaires.css">
    <title>Ideas box</title>
</head>
<body>
    <div class="row">
        <div class="col-1" style="width: 40%; ">
            <h2>Send your ideas here</h2><br>
            <form id="formideas" method="post">
                <div class="mb-3">
                    <label for="Name" class="form-label">Name of the event :</label><br><br>
                    <input type="text" name="name" class="form-control" id="Name" aria-describedby="Name"><br>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description :</label><br><br>
                    <input type="text" name="description" class="form-control" id="description"><br>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Event image (URL LINK) :</label><br><br>
                    <input type="file" name="url" class="form-control" id="image"><br>
                </div>
                <div class="mb-3">
                    <label for="begin" class="form-label">begin the :</label><br><br>
                    <input type="date" name="begin" class="form-control" id="begin"><br>
                </div>
                <div class="mb-3">
                    <label for="time" class="form-label">Time of the event (1h ? 2h ?...):</label><br><br>
                    <input type="date" name="time" class="form-control" id="time"><br>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                    $(document).ready(function(){
                        $('#formideas').submit(function(event){
                            event.preventDefault();
                            let formData = $(this).serializeArray();
                            let jsonData = {};
                            formData.forEach(function(field){
                                jsonData[field.name] = field.value;
                            });

                            let xhr = new XMLHttpRequest();
                            xhr.open("POST", "http://localhost:3000/cesi-bde/ev/addevents", true);
                            xhr.setRequestHeader("Content-Type", "application/json");
                            xhr.onload = function(){
                                if(xhr.status === 200){
                                    console.log(xhr.responseText);
                                    window.location.href = "/cesi-bde/ev/events"; // Redirection vers une page après une réponse réussie
                                }else{
                                    console.error("Erreur lors de l'envoi des données", xhr.statusText);
                                }
                            };
                            xhr.onerror = function(){
                                console.error("Erreur lors de l'envoi des données.");
                            };

                            xhr.send(JSON.stringify(jsonData));
                        });
                    });
                </script>
            </form>
        </div>
    </div>
    <br>
    <br>
    <?php require_once "footer.html"; ?>

</body>
</html>